
.js .sky-carousel {
	visibility: hidden;
}
.bg_event .content {
	height: 400px;
	overflow: hidden;
}
.wiki_ .content {
	height: 350px;
	overflow: hidden;
}
.sky-carousel {
	height: 270px;
	position: relative;	
	margin: 0 auto;	
	color: #fff;
}

.sky-carousel .sky-carousel-container {
	position: relative;
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}

.sky-carousel .sky-carousel-container li {
	position: absolute;
	border: 0;
}

.sky-carousel .sky-carousel-container li img {
	display: block;
	border: 0;
	max-width: none !important;
	width: 200px;
}

.sky-carousel .sky-carousel-container li a img {
	border: none;
}

.sky-carousel .sky-carousel-container .sc-content {
	display: none;
}


.sky-carousel .sc-content-wrapper {
	position: absolute;
	text-align: center;	
	width: 100%;
	top: 81%;
	left: 50%;
	z-index: 99;
	height: 400px;
}

.sky-carousel .sc-content-container {
	position: relative;
	left: -50%;
	padding: 0 20px;
}

.sky-carousel .sc-content-wrapper h2 {
	font-size: 20px;
	margin: 0;
	font-family: ff, helvetica, arial ;
	margin-bottom: 5px;
	padding: 10px 0;
}

.sky-carousel .sc-content-wrapper p {
	font-size: 12px;
	margin: 0;
	padding: 0;
	height: 200px;
}

.sky-carousel .sc-content-wrapper a {
	text-decoration: none;
	border-bottom: 1px dotted #444;
	color: #fff;
}

.sky-carousel .sc-nav-button {
	position: absolute;
	top: 30%;
	z-index: 996;
	width: 30px;
	height: 60px;
	margin-top: -30px;
	transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.sky-carousel .sc-nav-button.sc-next {
	background: url("../img/next_arrow.png") no-repeat 16px 50%;
	right: 0;
}

.sky-carousel .sc-nav-button.sc-prev {
	background: url("../img/prev_arrow.png") no-repeat 14px 50%;
	left: -20px;
}

.no-touch .sky-carousel .sc-nav-button:hover {
	background-color: #ea4848;
}

#wiki .sc-content-wrapper {
	height: 230px;
}
#wiki p {
	width: 80%;
	text-align: left;
	left: 10%;
	position: relative;
}
