@font-face { font-family: ff; src: url('../fonts/Hand_Of_Sean_Demo.ttf'); } 
@font-face { font-family: myriadff; src: url('../fonts/MYRIADPROREGULAR.woff'); } 
body {
	padding: 0;
	padding-top: 40px;
	margin: 0;
	font-family: myriadff, helvetica, arial;
	font-size: 13px;
	background: #000000;
	color: #fff;
}
.ff {
	font-family: ff, helvetica, arial;
}
.block { display: block;}
.pic img{
	height: 100%;
}
#header {
	position: fixed;
	top: 0;
	height: 50px;
	background-color: #740303;
	width: 100%;
	z-index: 997;
	-webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	-moz-box-shadow:     0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	box-shadow:          0px 0px 15px 0px rgba(0, 0, 0, 0.54);
}
#header .logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	height: 70px;
}
#header .ico_menu {
	right: 0;
	top: 0;
	height: 30px;
	padding: 10px;
	position: absolute;
}
#header .add_moment {
	right: 40px;
	top: 0;
	height: 30px;
	padding: 10px;
	position: absolute;
}
#footer {
	width: 100%;
	background: #680005;
	border-top: 5px solid #480003;
	color: #f9cea3;
	font-size: 11px;
}
#footer .foot {
	padding: 10px;
}
#footer a {
	color: #f9cea3;
	text-decoration: none;
	font-size: 10px;
}
#footer .sosmed_bot {
	height: 15px;
	padding: 10px 0;
}
#footer .sosmed_bot img {
	float: left;
	height: 15px;
	margin-right: 5px;
}
#footer .sosmed_bot span {
	float: left;
	margin-right: 10px;
	padding-top: 2px;
}
#menu {
	position: relative;
	z-index: 999;
	font-family: ff, helvetica, arial ;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: left;
}
#menu .menu_back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 2;
}
#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 3;
}
#menu li a {
	background: #8a080d;
	display: block;
	color: #f9cda4;
	text-decoration: none;
	padding: 10px 10px;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	-moz-box-shadow:    inset 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	box-shadow:         inset 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	border-bottom: 2px solid #490406;
	text-transform: uppercase;
	font-size: 15px;
}
#menu ul {
	display:;
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu ul ul {
	display: none;
}
#menu ul li li  a {
	background: #450406;
	padding-left: 30px;
	border-color: #000;
	text-transform: capitalize;
}
#menu .bot {
	padding: 8px;
	background: #8a080d;
}
#menu .bot span {
	display: block;
	border-bottom: 3px dotted #f9cda4;
}
.hl {
	background: url(../img/bg_wp.jpg) no-repeat;
	background-size: cover;
	padding: 20px 0;
	text-align: center;
	color: #740303;
	position: relative;
}
.hl ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.hl img {
	width: 100%;
}
.hl nav .prev {
	position: absolute;
	left: 0;
	top: 40%;
	width: 25px;
	height: 25px;
}
.hl nav .next {
	position: absolute;
	right: 0;
	top: 40%;
	width: 25px;
	height: 25px;
}
.hl nav img {
	width: 100%;
	height: 100%;
}
.hl h1 {
	font-family: ff, helvetica, arial ;
	font-size: 24px;
	padding-bottom: 10px;
}
.hl h4 {
	font-size: 15px;
	padding-bottom: 20px;
}
.hl h6 {
	font-size: 11px;
}
.hl .bot {
	height: 50px;
	background: url(../img/bg_wp_bot.jpg) bottom repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.content {
	padding: 20px 15px;
	min-height: calc(100% - 120px);
	overflow: hidden;
}
.content2 {
	padding: 20px 0px;
	overflow: hidden;
}
.content table {
	width: 100%;
	font-size: 11.5px;
}
.content table td {
	padding: 3px;
}
.bg_news {
	background: url(../img/bg_news.jpg) fixed;
	background-size: cover;
}
.bg_signup {
	background: #d2d2d2;
	text-align: center;
	color: #424242;
}
.bg_login {
	background: #1f1412;
	color: #fff;
}
.bg_moment .content {
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}






.title {
	font-family: ff, helvetica, arial ;
	font-size: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #333333;
	color: #f9cda4;
	margin-bottom: 10px;
}

.list_kotak {
	width: calc(50% - 5px);
	height: 150px;
	position: relative;
	float: left;
	color: #fff;
	text-decoration: none;
	margin: 10px 0;
	margin-right: 5px;
}
.list_kotak a {
	color: #fff;
	text-decoration: none;
}
.bg_moment .list_kotak {
	margin: 2px 0;
	margin-right: 5px;
}
.list_kotak:last-child {
	margin-right: 0;
}
.list_kotak .pic_1 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	text-align: center;
	display: block;
}
.list_kotak .box_text {
	position: absolute;
	bottom: 0;
	z-index: 2;
	background: rgba(0,0,0,0.6);
	width: 100%;
}
.list_kotak .box_text .text {
	padding: 5px;
	font-size: 9px;
}
.list_kotak .box_text .text .user {
	border-radius: 100px;
	overflow: hidden;
	height: 30px;
	width: 30px;
	float: left;
	margin-right: 5px;
}
.list_kotak .box_text .text h6 {
	padding-bottom: 0px;
}
.list_kotak .box_text .text2 {
	position: relative;
	margin-top: -35px;
}
.list_kotak .box_text .text2 .user {
	width: 40px;
	height: 40px;
}
.list_kotak .box_text .text2 h6 {
	padding-top: 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.69);
}

.list_kotak .box_text .acc {
	background: rgba(0,0,0,0.6);
	padding: 5px;
	font-size: 10px;
	height: 15px;
}
.list_kotak .box_text .acc span {
	float: left;
	padding-top: 2px;
}
.list_kotak .box_text .acc img {
	height: 15px;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
}
.moment_detail .foto {
	position: relative;
}
.moment_detail .foto .date {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.69);
	font-size: 9px;
	z-index: 2;
}
.moment_detail .foto .share {
	width: calc(100% - 15px);
	bottom: 0;
	position: absolute;
	background: rgba(0,0,0,0.5);
	text-align: right;
	padding: 5px 10px 0;
	z-index: 2;
}

.list_kotak_besar{
	width: 100%;
	height: 250px;
}
.list_kotak_besar .box_text .text {
	font-size: 11px;
}
.list_kotak_besar .box_text .text .user {
	height: 50px;
	width: 50px;
}
.list_kotak_besar .box_text .acc {
	font-size: 12px;
}
.moment_detail .pic_detail {
	width: 100%;
}
.moment_detail .pic_detail img {
	width: 100%;
}
.moment_detail .info_user {
	background: #750303;
	color: #fff;
	padding: 10px;
}
.moment_detail .info_user a {
	color: #fff;
	text-decoration: none;
}
.moment_detail .info_user .user {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 150px;
	overflow: hidden;
}
.moment_detail .info_user .info_k {
	float: right;
	width: calc(100% - 50px);
}
.moment_detail .info_user .acc {
	padding: 5px;
	font-size: 10px;
	height: 15px;
}
.moment_detail .info_user .acc span {
	float: left;
	padding-top: 2px;
}
.moment_detail .info_user .acc img {
	height: 15px;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
}

.moment_detail .comment,
.detail .comment {
	background: #d4d4d4;
	color: #7e7e7e;
	font-size: 11px;
	margin: 0;
	padding: 0;
}
.moment_detail .comment ul,
.detail .comment ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.moment_detail .comment ul li,
.detail .comment ul li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.moment_detail .comment .user,
.detail .comment .user {
	width: 30px;
	height: 30px;
	float: left;
	overflow: hidden;
	border-radius: 2px;
}
.moment_detail .comment .text,
.detail .comment .text {
	float: right;
	width: calc(100% - 40px);
}
.detail .comment {
	background: none;
	color: #fff;
	border-top: 1px solid #808080;
}
.detail .comment ul li {
	border-color: #808080;
}
.comment p {
	padding: 8px 10px;
}
.comment p a {
	color: #750303;
	text-decoration: none;
	font-size: 12px;
}

.form_comment {
	background: #fff;
	height: 25px;
	overflow: hidden;
}
.form_comment .input{
	float: left;
	border: 0;
	width: calc(100% - 55px);
	padding: 5px;
}
.form_comment .btn {
	float: right;
	background: #ccd6e5;
	border: 1px solid #bcc9d9;
	width: 50px;
	text-align: center;
	height: 25px;
}
.comment2 {
	padding: 5px !important;
}
.comment2 .form_comment {
	padding: 5px;
	border-radius: 3px;
}
.comment2 .user {
	border: 2px solid #fff;
	border-radius: 3px;
}
.comment2 .text {
	border: 3px solid #fff;
	border-radius: 3px;
	background: #fff;
	width: calc(100% - 45px) !important;
	margin-right: 0 !important;
	color: #7f7f7f;
}
.comment2 li {
	border: 0 !important;
	padding: 5px 0 !important;
}
.comment2 li.reply {
	width: calc(100% - 25px);
	padding-left: 25px !important;
	background: url(../img/ico_reply.png) 0 10px no-repeat;
	background-size: 20px;
}




.btn_more {
	display: inline-block;
	padding: 5px 10px;
	background: #bf8f29;
	border-radius: 5px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.btn_load {
	background: rgba(255,255,255,0.5);
	color: #000;
}

.list_1 .pic {
	width: 80%;
	display: block;
}
.list_1 a {
	color: #fff;
	font-size: 18px;
	font-family: ff, helvetica, arial ;
	text-decoration: none;
	line-height: 140%;
}
.list_1 .info {
	color: #bbbbbb;
	font-size: 12px;
}
.list_1 .info span {
	float: left;
	padding-top: 2px;
}
.list_1 .info img {
	margin-left: 20px;
	height: 15px;
	float: left;

}





.list_ver {
	text-align: center;
}
.list_ver .pic {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 200px;
	border: 4px solid #fff;
	display: inline-block;
	margin-bottom: 15px;
}
.list_ver a {
	color: #fff;
	text-decoration: none;
}
.list_ver h1 {
	font-family: ff, helvetica, arial ;
	padding-bottom: 5px;
}

.bg_signup .content {
	padding-left: 40px;
	padding-right: 40px;
}
.bg_signup .content .btn_sosmed,
.bg_login .content .btn_sosmed {
	display: block;
	text-align: center;
	background-color: #5f769f;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding:10px 0;
	border-radius: 5px;
}
.bg_signup .content .btn_sosmed_tw,
.bg_login .content .btn_sosmed_tw {
	background-color: #4db3ce;
}
.bg_signup .content .or,
.bg_login .content .or {
	border-top:1px solid #424242;
	display: block; 
	margin-top: 20px;
	text-align: center;
}
.bg_signup .content .or span,
.bg_login .content .or span {
	display: inline-block;
	background: #d2d2d2;
	padding: 10px;
	font-size: 15px;
	margin-top: -20px;
}
.bg_login .content {
	margin: 5px;
	border-top:1px dashed #f9cda4;
	border-bottom:1px dashed #f9cda4; 
	margin-top: 15px;
	padding-left: 40px;
	padding-right: 40px;
}
.form_login .input {
	width: 100%;
	padding: 8px;
	margin-bottom: 5px;
	border: 0;
}
.form_login .select3 {
	width: 30%;
}
.form_login .btn {
	background: #a20006;
	border: 1px solid #d3171f;
	padding: 10px 30px;
	color: #fff;
	font-size: 13px;
}
.bg_login .content .or span {
	background: #1f1412;
}
.bg_login .content .btn_sosmed {
	font-size: 13px;
	background: url(../img/ico_fb2.png) 10px no-repeat;
	background-repeat: no-repeat;
	background-size: 25px;
	background-color: #5f769f;
}
.bg_login .content .btn_sosmed_tw {
	background: url(../img/ico_tw2.png) 10px no-repeat;
	background-color: #4db3ce;
	background-size: 25px;
}
.footer_login #footer {
	background: #000000;
	border: 0;
	color: #808080;
}
.footer_login #footer a,
.footer_login #footer .sosmed_bot span {
	color: #808080;
}
.footer_login #footer .sosmed_bot img {
	-webkit-filter: grayscale(100%);
	opacity: 0.7;
}


.nav_top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 25px;
	width: 25px;
}

.list_coffee_news {
	list-style: none;
	padding: 0;
	margin: 0 15px;
}
.list_coffee_news li {
	padding: 10px 0;
	border-bottom: 1px solid #787878;
}
.list_coffee_news2 li {
	border: 0;
	padding-top: 15px 0;
}
.list_coffee_news .pic,
.detail .pic {
	float: right;
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.list_coffee_news .text,
.detail .text{
	float: left;
	width: calc(100% - 110px);
	text-align: right;
}
.list_coffee_news .text h1,
.detail .text h1 {
	padding-bottom: 10px;
	font-family: ff, helvetica, arial ;
	font-size: 15px;
	line-height: 130%;
	color: #fff;
}
.list_coffee_news .text a {
	color: #fff;
	text-decoration: none;
}
.list_coffee_news .acc,
.detail .acc {
	padding: 5px;
	font-size: 10px;
	height: 15px;
	opacity: 0.7;
	display: inline-block;
	float: right;
}
.list_coffee_news .acc span,
.detail .acc span {
	float: left;
	padding-top: 2px;
}
.list_coffee_news .acc img,
.detail .acc img {
	height: 15px;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
}

.list_coffee_news li:nth-child(even) .text,
.detail .text{
	float: right;
	text-align: left;
}
.list_coffee_news li:nth-child(even) .pic,
.list_coffee_news li:nth-child(even) .acc,
.detail .pic,
.detail .acc{
	float: left;
}


.list_bean,
.list_journey {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list_bean li {
	float: left;
	width: 50%;
	padding:15px 0;
}
.list_bean .pic {
	float: right;
	padding-right: 5px;
	width: 50px;
}
.list_bean .text {
	float: left;
	width: calc(100% - 60px);
	text-align: right;
	font-size: 11px;
}
.list_bean h1 {
	font-family: ff, helvetica, arial ;
	font-size: 13px;
	padding-bottom: 5px;
}
.list_bean li:nth-child(even) .pic {
	float: left;
	padding-left: 5px;
	padding-right: 0;
}
.list_bean li:nth-child(even) .text {
	float: right;
	text-align: left;
}
.list_journey {
	padding-top: 30px;
}
.list_journey li {
	/*background: url(../img/line1.png) bottom center no-repeat;*/
	background-size: 170px;
}
.list_journey li .pic {
	float: left;
	height: 90px;
	margin-right: 10px;
}
.list_journey li h4 {
	font-family: ff, helvetica, arial ;
	font-size: 15px;
	padding: 15px 0 5px;
}
.list_journey li:nth-child(even){
	/*background: url(../img/line2.png) bottom center no-repeat;*/
	background-size: 170px;
}
.list_journey li:nth-child(even) {
	text-align: right;
}
.list_journey li:nth-child(even) .pic {
	margin-right: 0;
	margin-left: 10px;
	float: right;
}
.list_journey li:last-child {
	background: none;
}
.list_journey .line {
	text-align: center;
	position: relative;
	margin-top: -10px;
}
.list_journey .line img {
	width: 70%;
}


.video_left {
	float: left;
	width: 60%;
}
.video_right{
	float: left;
	width: 40%;
	background: rgba(255,255,255,0.3);
}
.video_right a {
	display: block;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	padding: 10px;
}
.video_right .pic1 {
	width: 100%;
	position: relative;
	height: 80px;
	overflow: hidden;
}
.video_right .pic1 .img {
	width: 100%;
}
.video_right .play {
	position: absolute;
	top: 35%;
	z-index: 2;
	left: 40%;
}


.user_box {
	background: #750303;
	color: #fff;
}
.user_box .kiri {
	float: left;
	width: 120px;
	text-align: center;
	height: 220px;
	padding-top: 20px;
	position: relative;
}
.user_box .kanan {
	float: right;
	width: calc(100% - 121px);
	border-left: 1px solid rgba(0,0,0,0.5);
	height: 240px;
}
.user_box .pic_user {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border: 3px solid #fff;
	border-radius: 100%;
	background: #fff;
	display: inline-block;
	margin: 10px 0;
	position: relative;
}
.user_box .pic_user img {
	height: 100%;
	position: relative;
	z-index: 1;
}
.user_box .pic_user label {
	width: 100%;
	text-align: center;
	height: 20px;
	background: rgba(0,0,0,0.4);
	display: block;
	position: absolute;
	bottom: -5px;
	z-index: 2;
	padding: 5px 0;
	cursor: pointer;
	font-size: 8px;
}
.user_box .pic_user label input {
	display: none;
}
.user_box .kiri .btn_share {
	background: #ebcd92;
	text-align: center;
	padding: 5px 0;
	color: #a17b31;
	font-weight: bold;
	font-size: 11px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.user_box .kanan .info {
	text-align: left;
	color: #dedddd;
	font-size: 12px;
	padding: 30px 10px 10px;
}
.user_box .kanan .info h3 {
	color: #fff;
	font-size: 12px;
}
.user_box .kanan .info strong{
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	font-weight: normal;
	font-size: 11px;
}

.moment_add_box {
	margin: 0 auto;
	color: #fff;
}
.moment_add_box .foto {
	width: 200px;
	font-size: 12px;
	color: #ccc;
	margin: 0 auto;
}
.moment_add_box .foto .pic {
	width: 100%;
	height: 200px;
	text-align: center;
	margin-bottom: 5px;
}
.moment_add_box .mb_kanan {
	float: right;
	width: calc(100% - 270px);
}
.fl {float: left;}
.fr {float: right;}
.moment_add_box .name,
.moment_add_box .time {
	font-size: 15px;
	font-weight: bold;
}
.moment_add_box .btn_take {
	display: block;
	text-align: center;
	padding: 5px 0;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 18px;
	margin-top: 15px;
	text-decoration: none;
}
.moment_add_box .line_or {
	text-align: center;
	border-top:1px solid rgba(0,0,0,0.2); 
	margin-top: 30px;
	position: relative;
}
.moment_add_box .line_or span {
	display: inline-block;
	padding: 5px 10px;
	position: relative;
	top: -15px;
}
.moment_add_box .input_file {
	background: #fff;
	width: 100%;
	height: 27px;
	display: block;
	overflow: hidden;
}
.moment_add_box .input_file  .browse {
	float:right;
	width: 80px;
	padding: 5px;
	text-align: center;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}
.moment_add_box .input_file input {
	display: none;
}
.moment_add_box .share_m label {
	width: 50%;
	float: left;
	display: block;
}
.moment_add_box .input_full {
	display: block;
	border: 0;
	background: #fff;
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 10px;
	color: #000;
}
.moment_add_box .input_text {
	height: 100px;
}
.moment_add_box .btn_post {
	width: 80px;
	padding: 5px 0;
	text-align: center;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 15px;
	border: 0;
}
.moment_add_box .btn_post:hover {
	opacity: 0.8;
}
.link_user a {
	display: inline-block;
	padding: 5px 10;
	text-align: center;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 13px;
	border: 0;
	text-decoration: none;
	margin-bottom: 5px;
}
.profile_edit {
	background: #750303;
	color: #fff;
	font-size: 12px;
	padding: 15px;
	margin-top: 3px;
}
.profile_edit .pic {
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin-right: 10px;
	border-radius: 100%;
}
.profile_edit .btn_upload {
	width: 100px;
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 13px;
	border: 0;
}
.profile_edit .btn_upload input {
	display: none;
}
.profile_edit .input {
	display: block;
	border: 0;
	width: 100%;
	padding: 5px;
	background: #fff;
	margin-top: 3px;
}
.profile_edit .textarea {
	height: 50px;
}

.bg_float {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
}
.bg_moment1 {
	background: url(../img/bg_moment.jpg) no-repeat;
	background-size: cover;
}
.bg_coffee1 {
	background: url(../img/bg_coffee.jpg) fixed;
	background-size: cover;
}
.bg_video1 {
	background: url(../img/bg_video.jpg) fixed;
	background-size: cover;
}
.bg_event1 {
	background: url(../img/bg_event.jpg) fixed;
	background-size: cover;
}







