@font-face { font-family: ff; src: url('../fonts/Hand_Of_Sean_Demo.ttf'); } 
@font-face { font-family: myriadff; src: url('../fonts/MYRIADPROREGULAR.woff'); } 
body {
	padding: 0;
	padding-top: 40px;
	margin: 0;
	font-family: myriadff, helvetica, arial;
	font-size: 13px;
	background: #000000;
	color: #fff;
}
.ff {
	font-family: ff, helvetica, arial;
}
.pic img{
	height: 100%;
}
#header {
	position: fixed;
	top: 0;
	height: 50px;
	background-color: #740303;
	width: 100%;
	z-index: 4;
}
#header .logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	height: 70px;
}
#header .ico_menu {
	right: 0;
	top: 0;
	height: 30px;
	padding: 10px;
	position: absolute;
}
#footer {
	width: 100%;
	background: #680005;
	border-top: 5px solid #480003;
	color: #f9cea3;
	font-size: 11px;
}
#footer .foot {
	padding: 10px;
}
#footer a {
	color: #f9cea3;
	text-decoration: none;
	font-size: 10px;
}
#footer .sosmed_bot {
	height: 15px;
	padding: 10px 0;
}
#footer .sosmed_bot img {
	float: left;
	height: 15px;
	margin-right: 5px;
}
#footer .sosmed_bot span {
	float: left;
	margin-right: 10px;
	padding-top: 2px;
}
#menu {
	position: relative;
	z-index: 10;
	font-family: ff, helvetica, arial ;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
#menu .menu_back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 2;
}
#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 3;
}
#menu li a {
	background: #8a080d;
	display: block;
	color: #f9cda4;
	text-decoration: none;
	padding: 10px 10px;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	-moz-box-shadow:    inset 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	box-shadow:         inset 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
	border-bottom: 2px solid #490406;
	text-transform: uppercase;
	font-size: 15px;
}
#menu ul {
	display:;
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu ul ul {
	display: none;
}
#menu ul li li  a {
	background: #450406;
	padding-left: 30px;
	border-color: #000;
	text-transform: capitalize;
}
#menu .bot {
	padding: 8px;
	background: #8a080d;
}
#menu .bot span {
	display: block;
	border-bottom: 3px dotted #f9cda4;
}
.hl {
	background: url(../img/bg_wp.jpg) no-repeat;
	background-size: cover;
	padding: 20px;
	text-align: center;
	color: #740303;
	position: relative;
}
.hl img {
	width: 90%;
}
.hl h1 {
	font-family: ff, helvetica, arial ;
	font-size: 24px;
	padding-bottom: 10px;
}
.hl h4 {
	font-size: 15px;
	padding-bottom: 20px;
}
.hl h6 {
	font-size: 11px;
}
.hl .bot {
	height: 50px;
	background: url(../img/bg_wp_bot.jpg) bottom repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.content {
	padding: 20px 15px;
	height: calc(100% - 120px);
}
.title {
	font-family: ff, helvetica, arial ;
	font-size: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #333333;
	color: #f9cda4;
}

.list_kotak {
	width: calc(50% - 5px);
	height: 150px;
	position: relative;
	float: left;
	color: #fff;
	text-decoration: none;
	margin: 10px 0;
	margin-right: 5px;
}
.list_kotak:last-child {
	margin-right: 0;
}
.list_kotak .pic_1 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	text-align: center;
	display: block;
}
.list_kotak .box_text {
	position: absolute;
	bottom: 0;
	z-index: 2;
	background: rgba(0,0,0,0.6);
	width: 100%;
}
.list_kotak .box_text .text {
	padding: 5px;
	font-size: 9px;
}
.list_kotak .box_text .text .user {
	border-radius: 100px;
	overflow: hidden;
	height: 30px;
	width: 30px;
	float: left;
	margin-right: 5px;
}
.list_kotak .box_text .text h6 {
	padding-bottom: 0px;
}
.list_kotak .box_text .acc {
	background: rgba(0,0,0,0.6);
	padding: 5px;
	font-size: 10px;
	height: 15px;
}
.list_kotak .box_text .acc span {
	float: left;
	padding-top: 2px;
}
.list_kotak .box_text .acc img {
	height: 15px;
	float: left;
	margin-right: 10px;
	margin-left: 2px;
}
.btn_more {
	display: inline-block;
	padding: 5px 10px;
	background: #bf8f29;
	border-radius: 5px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.list_1 .pic {
	width: 80%;
	display: block;
}
.list_1 a {
	color: #fff;
	font-size: 18px;
	font-family: ff, helvetica, arial ;
	text-decoration: none;
	line-height: 140%;
}
.list_1 .info {
	color: #bbbbbb;
	font-size: 12px;
}
.list_1 .info span {
	float: left;
	padding-top: 2px;
}
.list_1 .info img {
	margin-left: 20px;
	height: 15px;
	float: left;
}


.bg_news {
	background: url(../img/bg_news.jpg);
	background-size: cover;
}
.bg_signup {
	background: #d2d2d2;
	text-align: center;
	color: #424242;
}


.list_ver {
	text-align: center;
}
.list_ver .pic {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 200px;
	border: 4px solid #fff;
	display: inline-block;
	margin-bottom: 15px;
}
.list_ver a {
	color: #fff;
	text-decoration: none;
}
.list_ver h1 {
	font-family: ff, helvetica, arial ;
	padding-bottom: 5px;
}

.bg_signup .content {
	padding-left: 40px;
	padding-right: 40px;
}
.bg_signup .content .btn_sosmed {
	display: block;
	text-align: center;
	background: #5f769f;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding:10px 0;
	border-radius: 5px;
}
.bg_signup .content .btn_sosmed_tw {
	background: #4db3ce;
}
.bg_signup .content .or {
	border-top:1px solid #424242;
	display: block; 
	margin-top: 20px;
}
.bg_signup .content .or span {
	display: inline-block;
	background: #d2d2d2;
	padding: 10px;
	font-size: 15px;
	margin-top: -20px;
}








