#wrap{
	width: 960px;
	min-height: 750px;
	margin: 0 auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrap ul{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#carouel1 {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	height: 768px;
	margin-left: 10px;
}
#carouel1 li{
	text-align: center;
	overflow: hidden;
	width: 600px;				
	height: auto;
	margin-top: -230px;
}
#wrap img{
	margin: 0;
	padding: 0;
	border: 5px solid #ccc !important;
}


#carouel1 li.roundabout-in-focus {
	cursor: default;
	height: 600px !important;
}


#carouel1 li.roundabout-in-focus .front{
	height: 600px !important;
}

.front {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.front h1 {
	font-family: 'Hand Of Sean (Demo)';
	color: #ffffff !important;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 70px;
}
.front h1:hover {
	color: #f9cda4 !important;
}

.front p {
	font-family: 'MYRIADPROREGULAR';
	color: #ffffff !important;
	font-size: 14px;
	margin-top: 20px;
}

#carouel1 .front, #carouel1 .back{
	width: 600px;
	height: 310px;	
}

#carouel1 .back, #carouel2 .back{
	top: 0px;
	left: 0;
}
.smallImg{
	float: left;
	margin: 12px;
}

.caption{
	text-align: left;
	margin: 12px;
}


.prevArrow{
	cursor: pointer;  
	background: url(../images/left-slide-btn.png) no-repeat; 
	width: 40px;
	height: 80px;      
	position: absolute;
	top: 130px;	 
	left: -10px;        
	z-index: 1001;
} 
.nextArrow{           
	cursor: pointer;        
	background: url(../images/right-slide-btn.png) no-repeat;
	width: 40px;
	height: 80px;
	position: absolute;
	top: 130px;
	right: -50px;	          
	z-index: 1001;	
} 

.butt {
    display: inline-block;
    width: auto;
    padding: .6em 12px;
    margin: .75em 0;
 	color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#52A8E8), to(#377AD0));
    background-image: -moz-linear-gradient(0% 100% 90deg,#377AD0, #52A8E8);
    background-color: #52A8E8;
    border: 1px solid #20559A;    
	text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    border-radius: 5px;
    line-height: 1.2em;
    font-weight: 700;
}
.butt:visited{
	color: #FFF;
}
.butt:hover, .butt:focus {
    background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#3499e4), to(#2c6ab9));
    background-image: -moz-linear-gradient(0% 100% 90deg,#2c6ab9, #3499e4);
    background-color: #2c6ab9;
}
