.clear {
	clear: both;
}
.navbar {
	-webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;
}
.navbar-wrapper {
	background-color: #740303 !important;
	font-family: 'Hand Of Sean (Demo)';
}
.navbar-nav>li>a {
	padding-top: 25px !important;
	color: #f8cba2 !important;
}
.navbar-nav>.active>a {
	color: #fff !important;
	background-color: #a60d11 !important;
	background: url('../images/nav-bg-active.png') repeat top center;
	-webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
}
.navbar-collapse {
	float: right !important;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin: 0;
}
ul.nav li{
	padding: 0 3px;
}
ul.nav li.add img{
	height: 30px;
	margin-top: -10px;
}
ul.nav a:hover {
	color: #fff !important;
	background-color: #a60d11 !important;
	background: url('../images/nav-bg-active.png') repeat top center;
	-webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
}
ul.nav a:focus {
	color: #fff !important;
	background-color: #a60d11 !important;
	background: url('../images/nav-bg-active.png') repeat top center;
	-webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.7), -12px 0 8px -4px rgba(0, 0, 0, 0.7);
}
ul.dropdown-menu{
	padding: 0px;
	background-color: #8a080d !important;
	min-width: 200px !important;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	        z-index: 99;
}
ul.dropdown-menu li{
	padding-left: 0px;
	padding-right: 0px;
	text-align:center;
}
ul.dropdown-menu>li a{
	background-color: #8a080d !important;
	color: #f8cba2 !important;
	box-shadow: none !important;
	padding: 0px !important;
	background: none !important;
	padding-top: 25px !important;
}

.navbar-inverse {
	background-color: #740303 !important;
}
.container, .navbar-header, .nav, .navbar-nav li, .navbar-nav li a{
	min-height: 70px !important;
}
.navbar {
	margin-bottom: 0 !important;
}
.teaser {
	padding-bottom: 50px;
	background: url('../images/bg-teaser.png') repeat bottom center;
}
.middle {
	min-height: 200px;
	background-color: #000;
	padding-bottom: 10px;
}
.middle h1 {
	font-family: 'Hand Of Sean (Demo)';
	color: #f9cda4 !important;
}
.middle h2 {
	font-family: 'Hand Of Sean (Demo)';
	color: #fff !important;
	text-transform: uppercase;
	line-height: 180%;
}
.middle h2:hover {
	color: #f9cda4 !important;
}
.middle a{
	text-decoration: none !important;
}
.middle hr {
	border-top: 3px solid #333 !important;
}
.middle .momment {
	margin-top:10px !important;
	margin-bottom: 10px !important;
	position: relative;
	overflow: hidden;
}
.middle img:hover {
	opacity:0.7 !important;
}
.middle .mommentdesc {
	background-color: #000;
	opacity:0.7;
	color: #fff;
	height: 100px;
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	display: none;
}
.middle .mommentprev {
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	font-size: 18px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	width: calc(100% - 20px);
	padding: 10px 0 0;
}
.middle .mommentprev p{
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	font-size: 12px;
}
.middle .mommentprev a{
	color: #fff;
}
.middle .mommentprev a:hover{
	color: #ccc;
}
.middle .barbar {
	background-color: #000;
	opacity:0.7;
	color: #fff;
	margin-top: -4px;
}
.middle .news label {
	font-family: 'MYRIADPROREGULAR';
	font-size: 20px;
	color: #bbbbbb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.middle .news p {
	font-family: 'MYRIADPROREGULAR';
	font-size: 20px;
	color: #fff;
}
.footer {
	min-height: 146px;
	background: url('../images/bg-footer.png') repeat top center;
	color: #f9cea3;
	font-family: 'MYRIADPROREGULAR';
}
.footer .container {
	padding-top: 28px;
}
.footer a {
	text-decoration: none !important;
	color: #f9cea3;
	font-size: 14px;
	font-weight: bold;
	padding-right: 40px;
}
.footer label {
	font-family: 'MYRIADPROREGULAR';
	font-size: 20px;
	color: #f9cea3;
	padding-top: 10px;
	padding-bottom: 10px;
}
.modal {
	top: 90px;
}
.modal-header{
	border-bottom: none;
}
.modal-body h3 {
	font-family: 'Hand Of Sean (Demo)';
	color: #333333 !important;
	font-size: 20px;
	text-align: center;
	padding-bottom: 20px;
}
.modal-body .img-center {
	display: table;
    margin: 0 auto;
}
.modal-body .dividermodal{
	padding-top: 20px;
	padding-bottom: 20px;
}
.modal-header .close {
	opacity: 1;
	right: -20px;
	top: -20px;
	position: absolute;
}

.midmid {
	min-height: 768px;
	background: #000 url('../images/bg-coffeenews.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.midmid .blokhalf {
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	font-size: 20px;
	text-align: center;
}

.midmid .auth {
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	font-size: 16px;
	text-align: center;
}
.midmid .heading {
	font-size: 16px;
	color: #fff;
	text-align: center;
	width: 300px;
	float: left;
	margin-top: 30px;
}
.dotline {
	margin-top: 40px;
	border: 1px dotted #ddd;
	float: left;
	width: 200px;
}
.midmid .form-group input {
	height: 50px;
}
.midmid .divider-form {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px dotted #ddd;
	float: left;
	width: 100%;
}
.midmid .widgetprofil{
	background-color: #740303;
	padding: 20px;
	text-align: center;
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	border-radius: 5px;
}

.midmid .userright {
	color: #fff;
	font-family: 'Hand Of Sean (Demo)';
	border-radius: 5px;
}

.midmid .widgetprofil img.img-circle {
	width: 125px;
	height: 125px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #333;
}
.midmid .widgetprofil label{
	padding-top: 10px;
}
.midmid .widgetbadge{
	background-color: #fff;
	padding: 20px;
	text-align: center;
	color: #222;
	font-family: 'MYRIADPROREGULAR';
	border-radius: 5px;
	margin-top: 20px;
}
.midmid .widgetbadge img {
	width: 75px;
}
.midmid .widgetbadge img:hover {
	opacity: 0.7;
}
.midmid .timeline {
	margin-bottom: 20px;
}
.midmid .bottomtimeline {
	background-color: #740303;
	padding: 20px;
	font-family: 'Hand Of Sean (Demo)';
	color: #fff !important;
	min-height: 130px;
}
.midmid .bottomtimeline img{
	width: 50px;
	height: 50px;
	margin:0;
	padding:0;
}
.midmid .bottomtimeline h1{
	font-size: 14px;
	line-height: 150%;
	padding:0;
	margin-top:5px;
	color: #fff;
}
.midmid .bottomtimeline h1:hover{
	color:#ccc;
}
.midmid .bottomtimeline label, .midmid .bottomtimeline label a{
	font-family: 'MYRIADPROREGULAR';
	font-size: 12px;
	line-height: 150%;
	padding:0;
	margin-top:5px;
	color: #ccc;
	text-decoration: none;
}
.midmid .bottomtimeline label a:hover{
	color: #666;
}
.midmid .userposts {
	background-color: #740303;
	padding-top: 40px;
	padding-bottom: 40px;
}
.midmid .userposts input{
	background-color: #fff;
	height:34px;
}
.midmid .userposts .waktunya {
	position: absolute;
	margin-top: 7px;
	margin-left: 15px;
}
.frame-round {
  @extend .frame-square;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  background-color: #000;
  
  .crop {border-radius: 50%;}
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  
  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
}

.blokhalf h1 {
	font-family: 'Hand Of Sean (Demo)';
	color: #ffffff !important;
	text-transform: uppercase;
	padding: 10px 0;
}
.blokhalf h1:hover {
	color: #f9cda4 !important;
}
.blokhalf img.blok {
	height: 310px !important;
}
.blokhalf img:hover {
	opacity: 0.7;
}
.blokhalf a {
	text-decoration: none !important;
}
.midevent {
	min-height: 768px;
	background: #000 url('../images/bg-coffeenews-event.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.midevent .news h2 {
	font-family: 'Hand Of Sean (Demo)';
	color: #ffffff !important;
	text-transform: uppercase;
}
.midevent .news label {
	font-family: 'MYRIADPROREGULAR';
	font-size: 16px;
	color: #bbbbbb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.midevent .news p {
	font-family: 'MYRIADPROREGULAR';
	font-size: 16px;
	color: #fff;
}
.middio {
	min-height: 768px;
	background: #000 url('../images/bg-coffedio.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.middio iframe {
	border: 5px solid #111;
}
.middio h1 {
	font-family: 'Hand Of Sean (Demo)';
	color: #ffffff !important;
	font-size: 24px;
}
.middio p {
	font-family: 'MYRIADPROREGULAR';
	font-size: 16px;
	color: #fff;
}

.middio button {
	margin-top: -57px;
	margin-left: 577px;
}
.middio .komenglist {
	float: left;
	margin-bottom: 20px !important;
}
.middio .komen {
	background-color: #fff;
	min-height: 45px;
	border-radius: 5px;
	padding: 10px;
}
.clear {
	clear: both;
}
.rightdio {
	background: rgba(255, 255, 255, 0.1);
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.rightdio h1 {
	font-family: 'MYRIADPROREGULAR';
	font-size: 16px;
	color: #fff;
	padding: 0 !important;
	margin: 0 !important;
	margin-top: 5px !important;
	font-weight: bold;
}
.rightdio label {
	font-family: 'MYRIADPROREGULAR';
	font-size: 12px;
	color: #fff;
	margin-top: 10px;
}
.vidlist {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.vidlist img:hover{
	opacity: 0.7;
}
.midwiko {
	min-height: 768px;
	background-color: #000;
}
.midwiko .blokfour {
	border: 5px solid #dd1821;
	padding: 0;
	-webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
}
/*.midwiko .blokfour:hover {
	width: 320px !important;
	height: 360px !important
}*/
.midwiko .blokfour a{
	-webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
	  position: relative;
}
.midwiko .blokfour a:hover {

}
.midwiko .blokfour a img {
	width: 120%;
	-webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
}
.midwiko .blokfour a img:hover {
	opacity: 0.7;
	width: 150%;
	
	  margin-left: -25%;
	  margin-top: -25%;

}

.frame-square {
  background: #000;
  display: inline-block;
  vertical-align: top;
  width: 285px;
  height: 330px !important;
}



.midwiko .wikotitle {
	background-color: #dd1821;
	padding: 10px;
	border-radius: 5px;
	top:5px;
	font-family: 'Hand Of Sean (Demo)';
	color: #ffffff !important;
	font-size: 15px;
}
.midquo {
	min-height: 768px;
	background: #000 url('../images/bg-coffeequote.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.midquo img.imgquo {
	width : 200px;
}
.midquo h1 {
	font-size: 18px !important;
	text-transform: none;
}
.midquo p {
	font-size: 16px !important;
	text-transform: none;
	font-family: 'MYRIADPROREGULAR';
	color: #fff;
}
.midquo .blokhalf label {
	font-family: 'MYRIADPROREGULAR';
	font-size: 14px;
	color: #bbbbbb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.midquo .blokhalf {
	margin-bottom: 50px;
}
.midquo img:hover{
	opacity: 0.7;
}
.midquo button {
	margin-top: -53px;
	margin-left: 475px;
}
.midquo .komenglist {
	float: left;
	margin-bottom: 20px !important;
}
.midquo .komen {
	background-color: #fff;
	min-height: 45px;
	border-radius: 5px;
	padding: 10px;
}
.frame-quo {
  background: #000;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px !important;
}
.midbean {
	min-height: 768px;
	background: #000 url('../images/bg-coffeequote.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.midbean h1 {
	font-size: 20px !important;
	text-transform: none;
}
.midbean p {
	font-size: 18px !important;
	text-transform: none;
	font-family: 'MYRIADPROREGULAR';
	color: #fff;
	margin-top: 40px;
}
.midbean img {
	height: 158px !important;
}
.midbean img.line-left {
	float: left;
	padding-left: 100px !important;
}

.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:575px;
	right:20px;
	display:none;
	background: url('../images/back-to-top.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}

.midmomment {
	min-height: 768px;
	background: #000 url('../images/bg-coffeemomment.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.midmomment .momment {
	margin-top:10px !important;
	margin-bottom: 100px !important;
}

.midmomment img:hover {
	opacity:0.7 !important;
}
.midmomment .mommentdesc {
	background-color: #000;
	opacity:0.7;
	margin-top: -100px;
	color: #fff;
	height: 100px;
	width: 100%;
}
.midmomment .mommentprev {
	margin-top: -90px;
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	font-size: 18px;
}
.midmomment .mommentprev p{
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	font-size: 12px;
}
.midmomment .mommentprev a{
	color: #fff;
}
.midmomment .mommentprev a:hover{
	color: #ccc;
}
.midmomment .barbar {
	background-color: #000;
	opacity:0.7;
	color: #fff;
	margin-top: -5px;
	font-size: 12px;
	padding: 5px;
}
.midquo .sharer {
	background: rgba(0, 0, 0, 0.7);
	height: 40px;
	padding: 10px;
	text-align: right;
}
.midquo .akun {
	background-color: #750303;
	min-height: 120px;
	padding-top: 15px;
}
.midquo .akun strong {
	color: #fff;
	font-family: 'MYRIADPROREGULAR';
	font-size: 24px;
}
.img_bulat {
	width: 320px;
	height: 320px;
}
.nav>li>a {
	padding: 10px 12px;
}
.navbar-brand {
	position: relative;
}
.vidlist .pic {
	overflow: hidden;
	width: 120px;
	height: 90px;
	display: block;
}
.vidlist .pic img {
	width: 100%;
}
.carousel-control.left,
.carousel-control.right {
	background: none !important;
}
.clearfix {
	clear: both;
}
.teaser img {
	width: 100% !important;
}
.kiri_profil {
	background: #750303;
	min-height: 200px;
	margin-top: 10px;
	font-family: 'MYRIADPROREGULAR';
	width: 315px;
	float: left;
	text-align: center;
	color: #fff;
}
.kiri_profil .share {
	background: #ebcd92;
	padding: 8px 10px;
	color: #a17b31;
	font-weight: 700;
	text-align: center;
	font-size: 16px;
}
.kiri_profil .pic_user {
	width: 180px;
	height: 180px;
	overflow: hidden;
	border: 3px solid #fff;
	border-radius: 100%;
	background: #fff;
	display: inline-block;
	margin: 10px 0;
	position: relative;
}
.kiri_profil .pic_user img {
	height: 100%;
	position: relative;
	z-index: 1;
}
.kiri_profil .pic_user a {
	width: 100%;
	text-align: center;
	height: 50px;
	background: rgba(0,0,0,0.4);
	display: block;
	position: absolute;
	bottom: -5px;
	z-index: 2;
	padding: 10px 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.kiri_profil .pic_user a input {
	display: none;
}
.kiri_profil .info {
	padding: 10px 30px 30px;
	text-align: left;
	color: #dedddd;
	font-size: 18px;
}
.kiri_profil .info h3 {
	color: #fff;
}
.kiri_profil .info strong{
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	font-weight: normal;
	font-size: 15px;
}
.profil_kanan {
	float: right;
	width: 780px;
}
.profil_kanan .momment {
	height: 300px;
}
.btn_load {
	display: inline-block;
	border-radius: 5px;
	background: rgba(255,255,255,0.7);
	color: #000;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}
.btn_load:hover {
	text-decoration: none;
	opacity: 0.7;
}
.navbar-wrapper {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
}
body {
	padding-top: 50px;
	font-family: 'MYRIADPROREGULAR';
}
.list_komentar {
	height: 500px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
}
.open_komentar {
	text-align: center;
	padding: 0px 0;
	cursor: pointer;
}
.list_wiki {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list_wiki li {
	width: 25%;
	height: 350px;
	float: left;
	position: relative;
	margin: 0;
	z-index: 2;
}
.list_wiki li .text {
	display: none;
}
.list_wiki li .isi {
	-webkit-transition: all 0.1s;
	  -moz-transition: all 0.1s;
	  -o-transition: all 0.1s;
	  transition: all 0.1s;
}
.list_wiki li .title {
	display: inline-block;
	background-color: #dd1821;
	padding: 10px;
	border-radius: 5px;
	top:5px;
	font-family: 'Hand Of Sean (Demo)';
	color: #ffffff !important;
	font-size: 15px;
	height: 35px;
}
.list_wiki li .pic {
	display: block;
	border: 5px solid #dd1821;
	padding: 0;
	width: 100%;
	height: 340px;
	position: relative;
	margin-top: -5px;
}
.list_wiki li:hover {
	z-index: 3;
}
.list_wiki li:hover .isi{
	position: absolute;
	z-index: 99999;
	width: 350px;
	height: 400px;
	margin-left: -50px;
	margin-top: -50px;
}
.list_wiki li:hover .isi .title {
	font-size: 20px;
	height: 50px;
}
.list_wiki li:hover .isi .pic {
	width: 100%;
	height: 400px;
	z-index: 99;
	position: relative;
}
.list_wiki li:hover .text {
	display: block !important;
	padding-top: 420px;
	width: 400px;
	margin-left: -70px;
	color: #fff;
}
.moment_add_box {
	background: #750303;
	padding: 15px;
	width: 700px;
	margin: 0 auto;
	color: #fff;
}
.moment_add_box .foto {
	width: 250px;
	float: left;
	font-size: 12px;
	color: #ccc;
}
.moment_add_box .foto .pic {
	width: 100%;
	height: 250px;
	text-align: center;
	margin-bottom: 5px;
}
.moment_add_box .mb_kanan {
	float: right;
	width: calc(100% - 270px);
}
.fl {float: left;}
.fr {float: right;}
.moment_add_box .mb_kanan .name,
.moment_add_box .mb_kanan .time {
	font-size: 20px;
}
.moment_add_box .btn_take {
	display: block;
	text-align: center;
	padding: 5px 0;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 18px;
	margin-top: 15px;
}
.moment_add_box .line_or {
	text-align: center;
	border-top:1px solid rgba(0,0,0,0.2); 
	margin-top: 30px;
	position: relative;
}
.moment_add_box .line_or span {
	display: inline-block;
	padding: 5px 10px;
	background: #750303;
	position: relative;
	top: -15px;
}
.moment_add_box .input_file {
	background: #fff;
	width: 100%;
}
.moment_add_box .input_file  .browse {
	float:right;
	width: 80px;
	padding: 5px;
	text-align: center;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}
.moment_add_box .input_file input {
	display: none;
}
.moment_add_box .share_m label {
	width: 50%;
	float: left;
	display: block;
}
.moment_add_box .input_full {
	display: block;
	border: 0;
	background: #fff;
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 10px;
	color: #000;
}
.moment_add_box .input_text {
	height: 100px;
}
.moment_add_box .btn_post {
	width: 120px;
	padding: 8px 0;
	text-align: center;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 18px;
	border: 0;
}
.moment_add_box .btn_post:hover {
	opacity: 0.8;
}

@media (min-width: 768px) {
	.container {
		width: 1100px !important;
		margin: 0 auto!important;
		padding: 0;
	}
	.navbar-right {
		margin: 0;
	}
}
@media (max-width: 908px) {
	.nav>li>a {
		padding: 5px;
	}
}

.profile_edit {
	background: #750303;
	color: #fff;
	font-size: 12px;
	padding: 20px;
	margin: 10px;
}
.profile_edit h1,
.profile_edit h2,
.profile_edit h3,
.profile_edit h4,
.profile_edit h5,
.profile_edit h6 {
	margin: 0;
	padding: 0;
}
.profile_edit .pic {
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin-right: 10px;
	border-radius: 100%;
}
.profile_edit .btn_upload {
	width: 100px;
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	background: #ecce90;
	color: #b99855;
	font-weight: bold;
	font-size: 13px;
	border: 0;
}
.profile_edit .btn_upload input {
	display: none;
}
.profile_edit .input {
	display: block;
	border: 0;
	width: 100%;
	padding: 5px;
	background: #fff;
	margin-top: 3px;
}
.profile_edit .textarea {
	height: 100px;
}
.w48p { width: 48%;}
.pt10 {padding-top: 10px;}
.pt30 {padding-top: 30px;}

.momment .imgLiquid {
	display: block;
	width: 100%;
	height: 200px;
}
.index_middle .imgLiquid {
	display: block;
	width: 100%;
	height: 300px;
}

.roundabout-holder img {
	filter: brightness(40%);
	-webkit-filter: brightness(40%);
	-moz-filter: brightness(40%);
	-o-filter: brightness(40%);
	-ms-filter: brightness(40%);
	background: #000;
	opacity: 1;
}
.roundabout-in-focus img {
	opacity: 1 !important;
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
}


